.e2_163 { 
	overflow:hidden;
}
.e2_163 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e2_164 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:1376px;
	height:1024px;
	position:absolute;
	left:64px;
	top:0px;
}
.e2_167 { 
	color:rgba(0, 0, 0, 1);
	width:639px;
	height:50px;
	position:absolute;
	left:408px;
	top:73px;
	font-family:Mulish;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e2_187 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:151px;
	height:28px;
	position:absolute;
	left:408px;
	top:482px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_218 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:151px;
	height:28px;
	position:absolute;
	left:408px;
	top:729px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_194 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:33px;
	position:absolute;
	left:408px;
	top:425px;
	font-family:Mulish;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e5_255 { 
	width:280px;
	height:1024px;
	position:absolute;
	left:64px;
	top:0px;
}
.e2_165 { 
	background-color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:280px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_169 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:0px;
	top:202px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:280px;
	height:44px;
	position:absolute;
	left:0px;
	top:386px;
}
.e2_171 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:105.5px;
	top:8px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_172 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:0px;
	top:294px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_173 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:0px;
	top:494px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_174 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:0px;
	top:586px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e121_122 { 
	color:rgba(255, 255, 255, 1);
	width:280px;
	height:28px;
	position:absolute;
	left:0px;
	top:678px;
	font-family:Arial;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e2_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:112px;
	height:57px;
	position:absolute;
	left:84px;
	top:57px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e2_176 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:25px;
	position:absolute;
	left:32px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e5_256 { 
	width:968px;
	height:241px;
	position:absolute;
	left:408px;
	top:147px;
}
.e2_178 { 
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(255, 255, 255, 1);
	width:968px;
	height:241px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e3_242 { 
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.1599999964237213);
	background-color:rgba(255, 255, 255, 1);
	width:174px;
	height:169px;
	position:absolute;
	left:758px;
	top:22px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e2_179 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:102px;
	height:28px;
	position:absolute;
	left:32px;
	top:22px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_199 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:209px;
	height:28px;
	position:absolute;
	left:186px;
	top:22px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_200 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:209px;
	height:28px;
	position:absolute;
	left:186px;
	top:74px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_201 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:209px;
	height:28px;
	position:absolute;
	left:186px;
	top:126px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_202 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:209px;
	height:28px;
	position:absolute;
	left:186px;
	top:178px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_190 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:102px;
	height:28px;
	position:absolute;
	left:32px;
	top:74px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_191 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:156px;
	height:28px;
	position:absolute;
	left:32px;
	top:126px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e3_192 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.800000011920929;
	width:156px;
	height:28px;
	position:absolute;
	left:32px;
	top:178px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e5_267 { 
	width:80px;
	height:80px;
	position:absolute;
	left:805px;
	top:67px;
}
.e5_268 { 
	width:39.96500015258789px;
	height:50.00019073486328px;
	position:absolute;
	left:20.017499923706055px;
	top:20px;
}
.e5_269 { 
	background-color:rgba(163.62499594688416, 162.26144671440125, 162.26144671440125, 1);
	width:69.95000457763672px;
	height:70.00743865966797px;
	position:absolute;
	left:4.99998664855957px;
	top:4.994358539581299px;
}
.e5_259 { 
	width:452px;
	height:209px;
	position:absolute;
	left:408px;
	top:773px;
}
.e2_189 { 
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:452px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_231 { 
	box-shadow:0px 0px 4px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:63px;
	height:32px;
	position:absolute;
	left:360px;
	top:18px;
}
.e3_228 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:31px;
	height:20px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:Mulish;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e3_229 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:102px;
	height:20px;
	position:absolute;
	left:32px;
	top:54px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_230 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:102px;
	height:20px;
	position:absolute;
	left:32px;
	top:90px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_232 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:32px;
	top:126px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e3_233 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:32px;
	top:162px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_263 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:181px;
	top:162px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_264 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:181px;
	top:54px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_265 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:181px;
	top:90px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_266 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:136px;
	height:20px;
	position:absolute;
	left:181px;
	top:126px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e5_257 { 
	width:464px;
	height:178px;
	position:absolute;
	left:408px;
	top:526px;
}
.e2_182 { 
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:464px;
	height:178px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_236 { 
	width:186px;
	height:28px;
	position:absolute;
	left:32px;
	top:14px;
}
.e3_193 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:102px;
	height:23px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_216 { 
	width:28px;
	height:28px;
	position:absolute;
	left:182px;
	top:0px;
}
.e3_217 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.33333396911621px;
	height:11.666666984558105px;
	position:absolute;
	left:2.3333332538604736px;
	top:8.166666984558105px;
}
.e3_235 { 
	width:186px;
	height:28px;
	position:absolute;
	left:32px;
	top:52px;
}
.e3_195 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:102px;
	height:23px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_219 { 
	width:28px;
	height:28px;
	position:absolute;
	left:182px;
	top:0px;
}
.e3_220 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.33333396911621px;
	height:11.666666984558105px;
	position:absolute;
	left:2.3333332538604736px;
	top:8.166666984558105px;
}
.e3_237 { 
	width:186px;
	height:28px;
	position:absolute;
	left:32px;
	top:90px;
}
.e3_196 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:167px;
	height:23px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_221 { 
	width:28px;
	height:28px;
	position:absolute;
	left:183px;
	top:0px;
}
.e3_222 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.33333396911621px;
	height:11.666666984558105px;
	position:absolute;
	left:2.3333332538604736px;
	top:8.166666984558105px;
}
.e3_238 { 
	width:186px;
	height:28px;
	position:absolute;
	left:32px;
	top:128px;
}
.e3_198 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:167px;
	height:23px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_223 { 
	width:28px;
	height:28px;
	position:absolute;
	left:183px;
	top:0px;
}
.e3_224 { 
	background-color:rgba(0, 0, 0, 1);
	width:23.33333396911621px;
	height:11.666666984558105px;
	position:absolute;
	left:2.3333332538604736px;
	top:8.166666984558105px;
}
.e5_258 { 
	width:462px;
	height:222px;
	position:absolute;
	left:914px;
	top:482px;
}
.e2_188 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:192px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e2_186 { 
	box-shadow:0px 0px 8px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:462px;
	height:178px;
	position:absolute;
	left:0px;
	top:44px;
}
.e3_239 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:167px;
	height:23px;
	position:absolute;
	left:32px;
	top:60px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_240 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:167px;
	height:23px;
	position:absolute;
	left:32px;
	top:99px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_241 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:167px;
	height:23px;
	position:absolute;
	left:32px;
	top:138px;
	font-family:Mulish;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
