* {
    box-sizing: border-box;
    
  }
  body {
    font-size: 14px;
    
  }
  .v85_5 {
    width: 100%;
    height: 1066px;
    overflow-y: hidden;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    
  }
  .v85_6 {
    width: 100%;
    height: 100%;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 64px;
    overflow: hidden;
    
}

  .v85_7 {
    width: 688px;
    height: 1066px;
    background: url("../images/v85_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v85_8 {
    width: 688px;
    height: 100%;
    background: rgba(188,187,187,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v85_9 {
    width: 520px;
    height: 746px;
    background: url("../images/v85_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 84px;
    overflow: hidden;
  }
  .v85_10 {
    width: 458px;
    height: 482px;
    background: url("../images/v85_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
  }
  .v85_11 {
    width: 257px;
    height: 328px;
    background: rgba(132,131,131,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v85_12 {
    width: 257px;
    height: 328px;
    background: rgba(132,131,131,1);
    opacity: 1;
    position: absolute;
    top: 154px;
    left: 101px;
    overflow: hidden;
  }
  .v85_13 {
    width: 257px;
    height: 328px;
    background: rgba(132,131,131,1);
    opacity: 1;
    position: absolute;
    top: 68px;
    left: 201px;
    overflow: hidden;
  }
  .v85_14 {
    width: 520px;
    height: 184px;
    background: url("../images/v85_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 546px;
    left: 0px;
    overflow: hidden;
  }
  .v85_15 {
    width: 520px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v85_16 {
    width: 520px;
    color: rgb(27, 12, 245);
    position: absolute;
    top: 124px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 40px;
    opacity: 0.5;
    text-align: center;
  }
  .v85_17 {
    width: 688px;
    height: 1066px;
    background: url("../images/v85_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 688px;
    overflow: hidden;
  }
  .v85_18 {
    width: 688px;
    height: 100%;
    background: rgba(248,248,248,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v85_21 {
    width: 573px;
    height: 57px;
    background: rgba(0,0,0,1);
    padding: 16px 32px;
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 781px;
    left: 57px;
    overflow:hidden ;
    
    
    
  }
  .v85_22 {
    width: 104px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 234px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    
    
    
  }

 /* Change button color on hover */
 .v85_22:hover {
    background-color: #8e3e76;
}

/* Styling the button tag 

button.v85_22 {
    background-color: #4CAF50; /* Green *
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  */
  

  .v90_43 {
    width: 489px;
    height: 78px;
    background: url("../images/v90_43.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 92px;
    overflow: hidden;
  }
  .v85_26 {
    width: 341px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 74px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 38px;
    opacity: 1;
    text-align: center;
  }
  .v90_39 {
    width: 489px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 56px;
    left: 0px;
    font-family: Mulish;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v85_32 {
    width: 573px;
    height: 68px;
    background: url("../images/v85_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 838px;
    left: 56px;
    overflow: hidden;
  }
  .v85_24 {
    width: 573px;
    background: url("../images/v85_24.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,0.10000000149011612);
  }
  .v85_27 {
    width: 336px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    left: 112px;
    font-size: 22px;
    opacity: 1;
    text-align: center;
  }
  .v85_28 {
    width: 86px;
    height: 64px;
    background: url("../images/v85_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 13px;
    overflow: hidden;
  }
  .v85_29 {
    width: 86px;
    height: 64px;
    background: rgba(156,154,154,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v85_30 {
    width: 52px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 15px;
    left: 17px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: center;
  }
  .v85_37 {
    width: 573px;
    height: 88px;
    background: url("../images/v85_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 57px;
    overflow: hidden;
  }
  .v85_33 {
    width: 115px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v85_34 {
    width: 573px;
    height: 48px;
    background: rgba(240,240,240,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v85_38 {
    width: 573px;
    height: 88px;
    background: url("../images/v85_38.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 339px;
    left: 56px;
    overflow: hidden;
  }
  .v85_35 {
    width: 114px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v85_36 {
    width: 573px;
    height: 48px;
    background: rgba(240,240,240,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v90_40 {
    width: 573px;
    height: 88px;
    background: url("../images/v90_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 457px;
    left: 56px;
    overflow: hidden;
  }
  .v90_41 {
    width: 151px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v90_42 {
    width: 573px;
    height: 48px;
    background: rgba(240,240,240,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v90_44 {
    width: 573px;
    height: 88px;
    background: url("../images/v90_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 56px;
    overflow: hidden;
  }
  .v90_45 {
    width: 104px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v90_46 {
    width: 573px;
    height: 48px;
    background: rgba(240,240,240,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v202_6 {
    width: 573px;
    height: 88px;
    background: url("../images/v202_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 663px;
    left: 57px;
    overflow: hidden;
  }
  .v202_7 {
    width: 193px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Mulish;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v202_8 {
    width: 573px;
    height: 48px;
    background: rgba(240,240,240,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  

  /* Code to style the email verification alert 

  #message {
    display: none;
    background-color: yellow;
    color: black;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
  }

  */

  /* Change login text color on hover */
  .v85_27:hover {
    color: rgb(255, 0, 76);
  }

