.396_29 { 
	overflow:hidden;
}
.e396_29 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:1376px;
	height:1066px;
	position:absolute;
}
.e396_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1376px;
	height:1066px;
	position:absolute;
	left:0px;
	top:8px;
}
.e396_31 { 
	width:520px;
	height:746px;
	position:absolute;
	left:84px;
	top:122px;
}
.e396_32 { 
	width:458px;
	height:482px;
	position:absolute;
	left:30px;
	top:0px;
}
.e396_33 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:0px;
	top:0px;
}
.e396_34 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:101px;
	top:154px;
}
.e396_35 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:201px;
	top:68px;
}
.e396_36 { 
	width:520px;
	height:184px;
	position:absolute;
	left:0px;
	top:546px;
}
.e396_37 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e396_38 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:520px;
	height:60px;
	position:absolute;
	left:0px;
	top:124px;
	font-family:Mulish;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e396_49 { 
	width:688px;
	height:1066px;
	position:absolute;
	left:688px;
	top:8px;
}
.e396_50 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:688px;
	height:1024px;
	position:absolute;
	left:12px;
	top:-13px;
}
.e420_4 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:688px;
	height:1024px;
	position:absolute;
	left:9px;
	top:-35px;
}
.e420_9 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:688px;
	height:1024px;
	position:absolute;
	left:9px;
	top:-90px;
}
.e420_7 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:42px;
	position:absolute;
	left:24px;
	top:43px;
}
.e396_51 { 
	background-color:rgba(0, 0, 0, 1);
	width:573px;
	height:57px;
	position:absolute;
	left:57px;
	top:781px;
}
.e396_52 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:25px;
	position:absolute;
	left:234.5px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e396_53 { 
	width:489px;
	height:78px;
	position:absolute;
	left:99px;
	top:37px;
}
.e396_54 { 
	color:rgba(0, 0, 0, 1);
	width:341px;
	height:48px;
	position:absolute;
	left:74px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:38px;
	letter-spacing:0;
}
.e396_55 { 
	color:rgba(0, 0, 0, 1);
	width:489px;
	height:23px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Mulish;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e396_56 { 
	width:573px;
	height:68px;
	position:absolute;
	left:56px;
	top:838px;
}
.396_57 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e396_57 { 
	width:573px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.e396_58 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:28px;
	position:absolute;
	left:112px;
	top:40px;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e396_59 { 
	width:86px;
	height:64px;
	position:absolute;
	left:6px;
	top:0px;
}
.e396_60 { 
	background-color:rgba(156.18750303983688, 154.23515260219574, 154.23515260219574, 1);
	width:86px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.e396_61 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:17px;
	top:15px;
	font-family:Mulish;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e396_68 { 
	width:573px;
	height:88px;
	position:absolute;
	left:45px;
	top:152px;
}
.e396_69 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:28px;
	position:absolute;
	left:-10px;
	top:015px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e396_70 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:50px;
	position:absolute;
	left:32px;
	top:195px;
}
.e396_71 { 
	width:573px;
	height:70px;
	position:absolute;
	left:30px;
	top:250px;
}
.e396_72 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:28px;
	position:absolute;
	left:0px;
	top:010px;
	font-family:Mulish;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e396_73 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e396_74 { 
	width:573px;
	height:68px;
	position:absolute;
	left:45px;
	top:354px;
}
.e396_75 { 
	color:rgba(0, 0, 0, 1);
	width:193px;
	height:28px;
	position:absolute;
	left:-15px;
	top:-9px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e396_76 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:-11px;
	top:20px;
}
.e420_5 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:-11px;
	top:185px;
}
.e420_6 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:24px;
	top:634px;
}
.e420_8 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:31px;
	top:465px;
}
.e420_12 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:53px;
	position:absolute;
	left:31px;
	top:430px;
	font-family:Mulish;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e420_17 { 
	color:rgba(0, 0, 0, 1);
	width: 172px;
	height:25px;
	position:absolute;
	left:32px;
	top:515px;
	font-family:Mulish;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e420_20 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:40px;
	position:absolute;
	left:32px;
	top:600px;
	font-family:Mulish;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
