.e440_250 { 
	overflow:hidden;
}
.e440_250 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:1376px;
	height:1066px;
	position:absolute;
}
.e440_251 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1376px;
	height:1066px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_252 { 
	width:520px;
	height:746px;
	position:absolute;
	left:84px;
	top:122px;
}
.e440_253 { 
	width:458px;
	height:482px;
	position:absolute;
	left:30px;
	top:0px;
}
.e440_254 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_255 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:101px;
	top:154px;
}
.e440_256 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:201px;
	top:68px;
}
.e440_257 { 
	width:520px;
	height:184px;
	position:absolute;
	left:0px;
	top:546px;
}
.e440_258 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e440_259 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:520px;
	height:60px;
	position:absolute;
	left:0px;
	top:124px;
	font-family:Mulish;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e440_270 { 
	width:688px;
	height:1066px;
	position:absolute;
	left:672px;
	top:0px;
}
.e440_271 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:710px;
	height:1066px;
	position:absolute;
	left:-22px;
	top:0px;
}
.e440_272 { 
	background-color:rgba(0, 0, 0, 1);
	width:573px;
	height:57px;
	position:absolute;
	left:61px;
	top:879px;
}
.e440_273 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:252.5px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e440_274 { 
	width:482px;
	height:67px;
	position:absolute;
	left:99px;
	top:169px;
}
.e440_275 { 
	width:185px;
	height:84px;
	position:absolute;
	left:-48px;
	top:-30px;
}
.e440_276 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_277 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:206px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_278 { 
	width:332px;
	height:92px;
	position:absolute;
	left:205px;
	top:-30px;
}
.e440_279 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_280 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:318px;
	height:47px;
	position:absolute;
	left:0px;
	top:45px;
}
.e440_281 { 
	color:rgba(0, 0, 0, 1);
	width:421px;
	height:48px;
	position:absolute;
	left:125px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:38px;
	letter-spacing:0;
}
.e440_282 { 
	width:573px;
	height:68px;
	position:absolute;
	left:53px;
	top:936px;
}
.e440_283 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e440_283 { 
	width:573px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_284 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:28px;
	position:absolute;
	left:112px;
	top:40px;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e440_285 { 
	width:79px;
	height:53px;
	position:absolute;
	left:13px;
	top:21px;
}
.e440_286 { 
	background-color:rgba(156.18750303983688, 154.23515260219574, 154.23515260219574, 1);
	width:86px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_287 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:17px;
	top:10px;
	font-family:Mulish;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e440_288 { 
	width:573px;
	height:88px;
	position:absolute;
	left:53px;
	top:236px;
}
.e440_289 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:40px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_290 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_291 { 
	width:573px;
	height:88px;
	position:absolute;
	left:53px;
	top:351px;
}
.e440_292 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_293 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:573px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_294 { 
	width:249px;
	height:88px;
	position:absolute;
	left:53px;
	top:461px;
}
.e440_295 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_296 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:283px;
	height:65px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_297 { 
	width:223px;
	height:88px;
	position:absolute;
	left:53px;
	top:571px;
}
.e440_298 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_299 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:279px;
	height:57px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_300 { 
	width:283px;
	height:88px;
	position:absolute;
	left:53px;
	top:699px;
}
.e440_301 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_302 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:285px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
}
.e440_303 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:466px;
	height:1015px;
	position:absolute;
	left:708px;
	top:107px;
}
.e440_304 { 
	width:223px;
	height:88px;
	position:absolute;
	left:382px;
	top:461px;
}
.e440_305 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_306 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:250px;
	height:57px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_307 { 
	width:223px;
	height:88px;
	position:absolute;
	left:380px;
	top:572px;
}
.e440_308 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_309 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:249px;
	height:55px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_313 { 
	width:252px;
	height:88px;
	position:absolute;
	left:380px;
	top:699px;
}
.e440_314 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_315 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:285px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
}

* {
    box-sizing: border-box;
    
  }
  body {
    font-size: 14px;
          -webkit-transform: scale(0.25);
      -moz-transform: scale(0.25);
      transform: scale(0.65);
  
    
  }

  .e440_315, .e440_309, .e440_302, .e440_306, .e440_299, .e440_296, .e440_290, .e440_293, .e440_280, .e440_277, .e440_273 {
	font-size: 25px; font-weight:bold ;

  }

  .e440_250 { 
	overflow:hidden;
}
.e440_250 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:1376px;
	height:1066px;
	position:absolute;
}
.e440_251 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1376px;
	height:1066px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_252 { 
	width:520px;
	height:746px;
	position:absolute;
	left:84px;
	top:122px;
}
.e440_253 { 
	width:458px;
	height:482px;
	position:absolute;
	left:30px;
	top:0px;
}
.e440_254 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_255 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:101px;
	top:154px;
}
.e440_256 { 
	background-color:rgba(132.8124949336052, 131.1523336172104, 131.1523336172104, 1);
	width:257px;
	height:328px;
	position:absolute;
	left:201px;
	top:68px;
}
.e440_257 { 
	width:520px;
	height:184px;
	position:absolute;
	left:0px;
	top:546px;
}
.e440_258 { 
	color:rgba(0, 0, 0, 1);
	width:520px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e440_259 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.5;
	width:520px;
	height:60px;
	position:absolute;
	left:0px;
	top:124px;
	font-family:Mulish;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e440_270 { 
	width:688px;
	height:1066px;
	position:absolute;
	left:672px;
	top:0px;
}
.e440_271 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:710px;
	height:1066px;
	position:absolute;
	left:-22px;
	top:0px;
}
.e440_272 { 
	background-color:rgba(0, 0, 0, 1);
	width:573px;
	height:57px;
	position:absolute;
	left:61px;
	top:879px;
}
.e440_273 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:25px;
	position:absolute;
	left:252.5px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e440_274 { 
	width:482px;
	height:67px;
	position:absolute;
	left:99px;
	top:169px;
}
.e440_275 { 
	width:185px;
	height:84px;
	position:absolute;
	left:-48px;
	top:-30px;
}
.e440_276 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_277 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:262px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_278 { 
	width:256px;
	height:92px;
	position:absolute;
	left:281px;
	top:-30px;
}
.e440_279 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_280 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:271px;
	height:47px;
	position:absolute;
	left:0px;
	top:45px;
}
.e440_281 { 
	color:rgba(0, 0, 0, 1);
	width:421px;
	height:48px;
	position:absolute;
	left:125px;
	top:16px;
	font-family:Mulish;
	text-align:center;
	font-size:38px;
	letter-spacing:0;
}
.e440_282 { 
	width:573px;
	height:68px;
	position:absolute;
	left:53px;
	top:936px;
}
.e440_283 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e440_283 { 
	width:573px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_284 { 
	color:rgba(0, 0, 0, 1);
	width:336px;
	height:28px;
	position:absolute;
	left:112px;
	top:40px;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e440_285 { 
	width:79px;
	height:53px;
	position:absolute;
	left:13px;
	top:21px;
}
.e440_286 { 
	background-color:rgba(156.18750303983688, 154.23515260219574, 154.23515260219574, 1);
	width:86px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
}
.e440_287 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:17px;
	top:10px;
	font-family:Mulish;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}
.e440_288 { 
	width:573px;
	height:88px;
	position:absolute;
	left:53px;
	top:236px;
}
.e440_289 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:40px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_290 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:266px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e443_5 { 
	width:266px;
	height:88px;
	position:absolute;
	left:326px;
	top:4px;
}
.e443_6 { 
	color:rgba(0, 0, 0, 1);
	width:118px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e443_7 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:276px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_291 { 
	width:266px;
	height:88px;
	position:absolute;
	left:53px;
	top:351px;
}
.e440_292 { 
	color:rgba(0, 0, 0, 1);
	width:152px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_293 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:279px;
	height:48px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_294 { 
	width:249px;
	height:88px;
	position:absolute;
	left:53px;
	top:461px;
}
.e440_295 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_296 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:283px;
	height:57px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_297 { 
	width:223px;
	height:88px;
	position:absolute;
	left:53px;
	top:571px;
}
.e440_298 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_299 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:279px;
	height:57px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_300 { 
	width:283px;
	height:88px;
	position:absolute;
	left:53px;
	top:699px;
}
.e440_301 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_302 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:285px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
}
.e440_303 { 
	background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
	width:466px;
	height:1015px;
	position:absolute;
	left:708px;
	top:107px;
}
.e440_304 { 
	width:223px;
	height:88px;
	position:absolute;
	left:382px;
	top:461px;
}
.e440_305 { 
	color:rgba(0, 0, 0, 1);
	width:206px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_306 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:275px;
	height:57px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_307 { 
	width:223px;
	height:88px;
	position:absolute;
	left:380px;
	top:572px;
}
.e440_308 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_309 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:281px;
	height:55px;
	position:absolute;
	left:0px;
	top:44px;
}
.e440_313 { 
	width:252px;
	height:88px;
	position:absolute;
	left:380px;
	top:699px;
}
.e440_314 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e440_315 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:285px;
	height:60px;
	position:absolute;
	left:0px;
	top:28px;
}
.e443_10 { 
	width:257px;
	height:88px;
	position:absolute;
	left:379px;
	top:349px;
}
.e443_11 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e443_12 { 
	background-color:rgba(240.38232117891312, 240.38232117891312, 240.38232117891312, 1);
	width:285px;
	height:48px;
	position:absolute;
	left:0px;
	top:28px;
}
